name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - name: Linux-aarch64
          os: ubuntu-22.04-arm
        - name: Linux-x86_64
          os: ubuntu-22.04
        - name: macOS-aarch64
          os: macos-14
        - name: macOS-x86_64
          os: macos-13
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get install -y clang-15 lld-15 libc++-15-dev libc++abi-15-dev
        sudo update-alternatives --install /usr/bin/cc cc /usr/bin/clang-15 100
    - name: Setup Lean Environment
      uses: leanprover/lean-action@v1
      with:
        auto-config: false
        use-github-cache: false
    - name: Build and Test lean-cvc5
      uses: leanprover/lean-action@v1
      with:
        use-github-cache: false 
    - name: Purge Disk Cache # https://github.com/actions/runner-images/issues/2619
      if: github.event_name == 'release' && runner.os == 'macOS'
      run: sudo /usr/sbin/purge
    - name: Upload Release Artifact
      if: github.event_name == 'release'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TAG: ${{ github.event.release.tag_name }}
      run: lake upload $TAG
